Balram Mandal 30

In [1]:
a = 'This is a string'
print (a)
b = "This is a string"
print (b)
c= '''This is a string'''
print (c)

This is a string
This is a string
This is a string

In [2]:

L = [1, "a" , "string" , 1+2]
print (L)

L.append(6)
print (L)

L.pop()
print (L)

print (L[1])

[1, 'a', 'string', 3]
[1, 'a', 'string', 3, 6]
[1, 'a', 'string', 3]
a

In [3]:
tup = (1, "a", "string", 1+2)
print(tup)
print(tup[1])

(1, 'a', 'string', 3)
a

In [4]:
d = {1: 'Lorem', 2: 'Ipsum', 3: 'Dolerum'}
print(d)

{1: 'Lorem', 2: 'Ipsum', 3: 'Dolerum'}

In [5]:

d1 = {1: 'Game', 2: 'of', 3: 'Thrones'}
print(d1)


d2 = dict(a = "House", b = "of", c = "Cards")
print(d2)

{1: 'Game', 2: 'of', 3: 'Thrones'}
{'a': 'House', 'b': 'of', 'c': 'Cards'}

In [6]:
d = { "name": "Alice", 1: "Python", (1, 2): [1,2,4] }

# Access using key
print(d["name"])

# Access using get()
print(d.get("name"))

Alice
Alice

In [8]:
d = {1: 'Game', 2: 'of', 3: 'Thrones'}

d["age"] = 22

d[1] = "Python dict"

print(d)

{1: 'Python dict', 2: 'of', 3: 'Thrones', 'age': 22}